/*Setting info for styling the headers*/
h1{
    text-decoration: underline;
    color: black;
    font-family: serif;
}

h2 {
    text-align: center;
    color: black;
    font-family: serif; 
    text-decoration: underline;
}

h3{
    text-align: center;
    color: black;
    font-family: serif;
}

/*Setting info for paragraph texts*/
p{
    color: black;
    font-family: serif;
    text-align: left;
}

/*Setting info for styling the quote*/

blockquote{
    background: #eee;
    border:1px dotted grey;
    color: black;
}

/*Setting info for styling links*/

a {
    font-size: 18px;
    font-family: sans-serif;
    color: black;
}

a:hover {
    color: blue;
}
